<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Dashboard">
  <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
  <title>Dashio - Bootstrap Admin Template</title>
  <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <!-- Favicons -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet"/>


  <link href="/backend/img/favicon.png" rel="icon">
  <link href="/backend/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="/backend/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!--external css-->
  <link href="/backend/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="/backend/css/style.css" rel="stylesheet">
  <link href="/backend/css/style-responsive.css" rel="stylesheet">
  <script src="/backend/lib/chart-master/Chart.js"></script>
  <link href="/backend/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/backend/css/zabuto_calendar.css">
  <link rel="stylesheet" type="text/css" href="/backend/lib/gritter/css/jquery.gritter.css" />
  <!-- Custom styles for this template -->
  <link href="/backend/css/style.css" rel="stylesheet">
  <link href="/backend/css/style-responsive.css" rel="stylesheet">
  <link href="/backend/table/style.css" rel="stylesheet">
  <script src="/backend/lib/chart-master/Chart.js"></script>
  <script src="/javascripts/axios.js"></script>
  <script src="/javascripts/vuemultiselect.js"></script>

  <!-- =======================================================
    Template Name: Dashio
    Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
    Author: TemplateMag.com
    License: https://templatemag.com/license/
  ======================================================= -->
</head>

<body>
  <div id="post">
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
    <%include partials/backendHeader.ejs%>
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
    <%include partials/adminNav.ejs%>
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->

<section id="main-content">
 
 <section class="wrapper">
   <h1>Posts</h1>
  
  
  
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home"><h4>Created Posts</h4>
        </a>
      </li>
      <li class="nav-item" v-if="loggedInUser.role=='editor' || loggedInUser.role=='admin'">
        <a class="nav-link" data-toggle="tab" href="#menu1"><h4>Edited Posts</h4></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#menu2"><h4>Unpublished Posts</h4></a>
      </li>
    </ul>
  
    <!-- Tab panes -->
    <div class="tab-content">
      <div id="home" class="tab-pane active"><br>
        <div class="row">
    <div class="col-md-5 col-sm-5 mb">
      <div class="darkblue-panel pn" style="float:right; height:15rem; width:45rem;">
        <div class="darkblue-header">
          <h2>Total Posts</h2>
        </div>
       
       
        <h1 v-if="loggedInUser.role=='admin'">{{publishedPostsCount}}</h1>
        <h1 v-if="loggedInUser.role=='writer' || loggedInUser.role=='editor'">{{lpublishedPostsCount}}</h1>
      </div>
      <!-- /grey-panel -->
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="col-md-5 col-sm-5 mb">
      <!-- REVENUE PANEL -->
      <div class="green-panel pn" style="height:15rem; width:45rem;">
        <div class="green-header">
          <h2>Today's Posts</h2>
        </div>
          <h1 v-if="loggedInUser.role=='admin'">{{tpublishedPostsCount}}</h1>
          <h1 v-if="loggedInUser.role=='writer' || loggedInUser.role=='editor'">{{tlpublishedPostsCount}}</h1>
      </div>
    </div>

   
  </div>
        <table>
          <h4>Posts 
            <a class="btn btn-primary" style="float:right" href="/backend/form">+Add Post</a>
            <span class="badge badge-primary"  v-if="loggedInUser.role=='admin'">{{publishedPostsCount}}</span>
           
          
            <span v-if="loggedInUser.role=='writer' || loggedInUser.role=='editor'" class="badge badge-primary">{{lpublishedPostsCount}}</span>
          </h4>
      <hr>
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Title</th>
              <th>Date</th>
              <th>Category</th>
              <th>Created By</th>
              <th>Edited By</th>
              <th>Views</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
    
        
            <tr v-for="(publishedPost,i) in publishedPosts" v-if="loggedInUser.role=='admin'">
              <td data-column="S.No.">{{i+1}}</td>
              <td data-column="Title">{{publishedPost.title}}</button></td>
              <td data-column="Date">{{publishedPost.writtenDate}}</td>
              <td data-column="Category">{{publishedPost.category}}</td>
              <td data-column="Created By">{{publishedPost.writtenBy}}</td>
              <td data-column="Edited By">{{publishedPost.editedBy}}</td>
              <td data-column="Views">{{publishedPost.views}}</td>
              <td data-column="Actions"><button class="btn btn-primary btn-xs" @click="viewPost(publishedPost._id)"><i class="fa fa-eye"></i></button>&nbsp;&nbsp; <button class="btn btn-warning btn-xs" @click="editPost(publishedPost._id)" v-if="loggedInUser.role=='editor' || loggedInUser.role=='admin'"><i class="fa fa-pencil"></i></button>
                  &nbsp;&nbsp; <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirmDeleteModal" @click="setDeletePostsId(publishedPost._id)" v-if="loggedInUser.role=='editor' || loggedInUser.role=='admin'"><i class="fa fa-trash-o "></i></button></td>
            </tr>
            <tr v-for="(publishedPost,i) in lpublishedPosts" v-if="loggedInUser.role=='writer' || loggedInUser.role=='editor'">
              <td data-column="S.No.">{{i+1}}</td>
              <td data-column="Title">{{publishedPost.title}}</button></td>
              <td data-column="Date">{{publishedPost.writtenDate}}</td>
              <td data-column="Category">{{publishedPost.category}}</td>
              <td data-column="Created By">{{publishedPost.writtenBy}}</td>
              <td data-column="Edited By">{{publishedPost.editedBy}}</td>
              <td data-column="Views">{{publishedPost.views}}</td>
              <td data-column="Actions"><button class="btn btn-primary btn-xs" @click="viewPost(publishedPost._id)"><i class="fa fa-eye"></i></button>&nbsp;&nbsp; <button class="btn btn-warning btn-xs" @click="editPost(publishedPost._id)" v-if="loggedInUser.role=='editor' || loggedInUser.role=='admin'"><i class="fa fa-pencil"></i></button>
                  &nbsp;&nbsp; <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirmDeleteModal" @click="setDeletePostsId(publishedPost._id)" v-if="loggedInUser.role=='editor' || loggedInUser.role=='admin'"><i class="fa fa-trash-o "></i></button></td>
            </tr>
          </tbody>
          </table>
  
      </div>
      <div id="menu1" class="tab-pane fade"><br>
        <div class="row">
          <div class="col-md-5 col-sm-5 mb">
            <div class="darkblue-panel pn" style="float:right; height:15rem; width:45rem;">
              <div class="darkblue-header">
                <h2>Total Posts</h2>
              </div>
             
             
             <h1>{{leditedPostsCount}}</h1>
            </div>
            <!-- /grey-panel -->
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col-md-5 col-sm-5 mb">
            <!-- REVENUE PANEL -->
            <div class="green-panel pn" style="height:15rem; width:45rem;">
              <div class="green-header">
                <h2>Today's Posts</h2>
              </div>
                <h1>{{tleditedPostsCount}}</h1>
            </div>
          </div>
      
         
        </div>
        <table>
          <h4>Edited Posts <span class="badge badge-success">{{leditedPostsCount}}</span> <a class="btn btn-primary" style="float:right" href="/backend/form">+Add Post</a></h4>
  
      <hr>
          <thead>
            <tr>
             
              <th>Title</th>
              <th>Date</th>
              <th>Category</th>
              <th>Created By</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
    
        
            <tr v-for="(leditedPost,i) in leditedPosts" v-if="leditedPost.status=='pending'">
              
              <td data-column="Title"><p style="color:red;">{{leditedPost.title}}</p></button></td>
              <td data-column="Date">{{leditedPost.writtenDate}}</td>
              <td data-column="Category">{{leditedPost.category}}</td>
              <td data-column="Created By">{{leditedPost.writtenBy}}</td>
              <td data-column="Actions"><button class="btn btn-primary btn-xs"  @click="viewPost(leditedPost._id)"><i class="fa fa-eye"></i></button>&nbsp;&nbsp; <button class="btn btn-success btn-xs" @click="publishPost(leditedPost._id)"><i class="fa fa-check"></i></button>
                &nbsp;&nbsp; <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirmDeleteModal" @click="setDeletePostsId(leditedPost._id)"><i class="fa fa-trash-o "></i></button></td>
            </tr>

            <tr v-for="(leditedPost,i) in leditedPosts" v-if="leditedPost.status=='published'">
              
              <td data-column="Title"><p style="color:green;">{{leditedPost.title}}</p></td>
              <td data-column="Date">{{leditedPost.writtenDate}}</td>
              <td data-column="Category">{{leditedPost.category}}</td>
              <td data-column="Created By">{{leditedPost.writtenBy}}</td>
              <td data-column="Actions"><button class="btn btn-primary btn-xs"  @click="viewPost(leditedPost._id)"><i class="fa fa-eye"></i></button>&nbsp;&nbsp; <button class="btn btn-success btn-xs" type="button" disabled='' @click="publishPost(leditedPost._id)" disabled><i class="fa fa-check"></i></button>
                &nbsp;&nbsp; <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirmDeleteModal" @click="setDeletePostsId(leditedPost._id)"><i class="fa fa-trash-o "></i></button></td>
            </tr>
          </tbody>
          </table>
      </div>
      <div id="menu2" class="tab-pane fade"><br>
        <div class="row">
          <div class="col-md-5 col-sm-5 mb">
            <div class="darkblue-panel pn" style="float:right; height:15rem; width:45rem;">
              <div class="darkblue-header">
                <h2>Total Posts</h2>
              </div>
             
             
             <h1 v-if="loggedInUser.role=='admin' || loggedInUser.role=='editor'">{{unpublishedPostsCount}}</h1>
             <h1 v-if="loggedInUser.role=='writer'">{{lunpublishedPostsCount}}</h1>
            </div>
            <!-- /grey-panel -->
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="col-md-5 col-sm-5 mb">
            <!-- REVENUE PANEL -->
            <div class="green-panel pn" style="height:15rem; width:45rem;">
              <div class="green-header">
                <h2>Today's Posts</h2>
              </div>
              <h1 v-if="loggedInUser.role=='admin' || loggedInUser.role=='editor'">{{tunpublishedPostsCount}}</h1>
              <h1 v-if="loggedInUser.role=='writer'">{{tlunpublishedPostsCount}}</h1>
            </div>
          </div>
      
         
        </div>
        <table>
          <h4>Unpublished Posts 
            <a class="btn btn-primary" href="/backend/form" style="float:right">+Add Post</a>
            <span class="badge badge-primary" v-if="loggedInUser.role=='admin' || loggedInUser.role=='editor'">{{unpublishedPostsCount}}</span>
            <span class="badge badge-primary" v-if="loggedInUser.role=='writer'">{{lunpublishedPostsCount}}</span>
           
          </h4>
            <hr>
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Title</th>
              <th>Date</th>
              <th>Category</th>
              <th>Created By</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
    
        
            <tr v-for="(unpublishedPost,i) in unpublishedPosts " v-if="loggedInUser.role=='admin' || loggedInUser.role=='editor'">
              <td data-column="S.No.">{{i+1}}</td>
              <td data-column="Title">{{unpublishedPost.title}}</button></td>
              <td data-column="Date">{{unpublishedPost.writtenDate}}</td>
              <td data-column="Category">{{unpublishedPost.category}}</td>
              <td data-column="Created By">{{unpublishedPost.writtenBy}}</td>
              <td data-column="Actions"><button class="btn btn-primary btn-xs"  @click="viewPost(unpublishedPost._id)"><i class="fa fa-eye"></i></button>&nbsp;&nbsp; <button class="btn btn-warning btn-xs" @click="editPost(unpublishedPost._id)"><i class="fa fa-pencil"></i></button>
                &nbsp;&nbsp; <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#confirmDeleteModal" @click="setDeletePostsId(unpublishedPost._id)"><i class="fa fa-trash-o "></i></button></td>
            </tr>
            <tr v-for="(unpublishedPost,i) in lunpublishedPosts" v-if="loggedInUser.role=='writer'">
              <td data-column="S.No.">{{i+1}}</td>
              <td data-column="Title">{{unpublishedPost.title}}</button></td>
              <td data-column="Date">{{unpublishedPost.writtenDate}}</td>
              <td data-column="Category">{{unpublishedPost.category}}</td>
              <td data-column="Created By">{{unpublishedPost.writtenBy}}</td>
              <td data-column="Actions"><button class="btn btn-primary btn-xs"  @click="viewPost(unpublishedPost._id)"><i class="fa fa-eye"></i></button>&nbsp;&nbsp; <button class="btn btn-warning btn-xs" @click="editPost(unpublishedPost._id)"><i class="fa fa-pencil"></i></button></td>
            </tr>
          </tbody>
          </table>
      </div>
    </div>
 
  
   <!--confirm delete modal-->
          
   <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

  
        <div class="modal-footer">

          <button type="button" class="btn btn-danger" @click="deletePost()" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>  
  </div>
  <!--/confirm delete modal-->
  
  
    
  
    
  </section>
</section>
</div>  
    <!--main content end-->
    
 
  <!-- js placed at the end of the document so the pages load faster -->
  <script src="/backend/lib/jquery/jquery.min.js"></script>

  <script src="/backend/lib/bootstrap/js/bootstrap.min.js"></script>
  <script class="/backend/include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
  <script src="/backend/lib/jquery.scrollTo.min.js"></script>
  <script src="/backend/lib/jquery.nicescroll.js" type="text/javascript"></script>
  <script src="/backend/lib/jquery.sparkline.js"></script>
  <!--common script for all pages-->
  <script src="/backend/lib/common-scripts.js"></script>
  <script type="text/javascript" src="/backend/lib/gritter/js/jquery.gritter.js"></script>
  <script type="text/javascript" src="/backend/lib/gritter-conf.js"></script>
  <!--script for this page-->
  <script src="/backend/lib/sparkline-chart.js"></script>
  <script src="/backend/lib/zabuto_calendar.js"></script>
  
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
  <script src="/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
  <script src="/@ckeditor/ckeditor5-vue/dist/ckeditor.js"></script>
  <script src="/javascripts/vue.js"></script>
  <script src="/javascripts/post.js"></script>
</body>

</html>
